    .header { background-color: #d40101; }
    #navlist a:link, #navlist a:visited{ background-color: #555222; }
    #navlist a:hover {color: #fff; background-color: #222555; text-decoration: none; }
