    .header { background-color: #CC3300; }
    #navlist a:link, #navlist a:visited{ background-color: #CC3300; }
    #navlist a:hover {color: #fff; background-color: #33CCFF; text-decoration: none; }
