    .header { background-color: #3366FF; }
    #navlist a:link, #navlist a:visited{ background-color: #3366FF; }
    #navlist a:hover {color: #fff; background-color: #003333; text-decoration: none; }
